
ul {
  list-style-type: none;
  margin: 0px auto;
  height: 50px;
  text-align: right;
  padding-top: 22px;
}

li {
  display: inline;
  margin: 100px 15px 0 0;
  font-family: roboto-regular, arial, sans-serif;
  font-size: 14px;
}

li a {
  text-decoration: none;
  color: #757575;
}

img {
  width: 272px;
  display: block;
  margin: 0px auto;
  padding-top: 180px;
}
p {
  font-family: roboto-regular, arial, sans-serif;
  font-size: 16px;
  color: #4d90fe;
  position: relative;
  display: block;
  margin: 0px auto;
  width: 50px;
  left: 100px;
  top: -28px
}
.box {
  width: 580px; height: 40px;
  border: 1px solid #e3e1e1;
  display: block;
  margin: 0px auto;
  padding: 10px;
}

.box:hover {
  border: 1px solid #bababa;
}

.box: {
  border: 1px solid #4285f4;
}

div.search {
  width: 300px; height: 30px;
  margin: 0px auto;
}

.search h5 {
  background-color: #f1f1f1;
  display: inline-block;
  width: 120px;
  text-align: center;
  padding: 8px;
  margin: 30px auto;

}

h5 a {
  text-decoration: none;
  font-family: roboto-regular, arial, sans-serif;
  color: #757575;
}

h5:hover {
  border: 1px solid #757575;
}

h5 a:hover {
  color: #383838;
}

.footer {
  margin: 0px auto;
  padding-top: 300px;
}

.footer ul {
  background-color: #f2f2f2;
  height: 30px;
}
#left_f {
  float: left;
  margin-left: 20px;
}
