img {
  width: 272px;
  display: block;
  margin: 0px auto;
  padding-top: 180px;
}
p {
  font-family: roboto-regular, arial, sans-serif;
  font-size: 16px;
  color: #4d90fe;
  position: relative;
  display: block;
  margin: 0px auto;
  width: 50px;
  left: 100px;
  top: -28px
}
.box {
  width: 580px; height: 40px;
  border: 1px solid #4d90fe;
  display: block;
  margin: 0px auto;
  padding: 10px;
}
